body {
  font-size: 100%;
}

.navbar{
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 3%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: auto;
  height: auto;
  background-color: #11c5c6;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}
.box {
  flex-grow: 1;
  background-color: #fbdd1c;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.satu{
  flex-grow: 1;
}
.dua{
  flex-grow: 2;
}
.tiga{
  flex-grow: 3;
}